<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app color="grey lighten-5">
      <v-main>
        <v-container>
          <v-row>
            <v-col cols="12" lg="4">
              <v-card>
                <v-card-title>
                  Leaflet
                </v-card-title>
                <v-card-text>
                  <a href="https://leafletjs.com/">https://leafletjs.com/</a>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col lg="6">
              <v-timeline>
                <v-timeline-item v-for="framework in frameworks" :key="framework.name">
                  <v-card>
                    <v-card-title>{{ framework.name }}</v-card-title>
                    <v-card-text v-if="framework.release">
                      {{ framework.release }}
                    </v-card-text>
                  </v-card>
                </v-timeline-item>
              </v-timeline>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-data-table :headers="headers" :items="libraries"
              group-by="group" disable-pagination hide-default-footer
            >
              <template v-slot:item.title="{ item }">
                <v-chip :href="item.href" outlined>
                  <template v-if="item.highlight">
                    <v-icon left color="indigo">
                      mdi-alert-circle-outline
                    </v-icon>
                  </template>
                  {{ item.title }}
                </v-chip>
              </template>
              <template v-slot:item.subtitle="{ item }">
                <span v-html="item.subtitle"></span>
              </template>
            </v-data-table>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        libraries: [
          {
            "title": "ApexCharts.js",
            "subtitle": "Modern & Interactive Open-source Charts",
            "href": "https://apexcharts.com/",
            "group": "Charts"
          },
          {
            "title": "Chart.js",
            "subtitle": "Simple yet flexible JavaScript charting for designers & developers",
            "href": "https://www.chartjs.org/",
            "group": "Charts"
          }
        ],
        frameworks: [
          {
            "name": "Vue.js",
            "release": "02/2014"
          },
          {
            "name": "React",
            "release": "29/05/2013"
          },
          {
            "name": "Ember.js",
            "release": "08/12/2011"
          },
          {
            "name": "AngularJS",
            "release": "20/10/2010"
          },
          {
            "name": "Backbone.js",
            "release": "13/10/2010"
          },
          {
            "name": "Knockout.js",
            "release": "05/07/2010"
          },
          {
            "name": "jQuery",
            "release": "01/2006"
          },
          {
            "name": "Prototype",
            "release": "02/2005"
          }
        ]
      })
    })
  </script>
</body>
</html>
